*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;

}

section h1{
    position: absolute;
    left: 10%;
    top: 40%;
    font-size: 5em;
    color: #fff;
    z-index: 10000;
    color: rgb(245, 143, 11) ;
}
section video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}